
.subtemplate--faq {
    padding-top: @spacer;
    padding-bottom: @spacer;
}

.faq {
    margin-left: 20px;
}

.faq__title { margin-top: 0; }

.faq__question {
    &:extend(.bold);
    display: block;
    margin-top: 0;
    margin-bottom: (@spacer / 2);
    cursor: pointer;

    .caret {
        margin-left: -20px;
        margin-right: 10px;
    }

    &.open .caret {
        transform: rotate(90deg);
    }
}

.faq__answer {
    display: none;
    margin-bottom: @spacer;
    margin-left: 0;

    &.open {
        display: block;
        max-height: 800px;
    }
}


.faq--featured {
    .faq__question {
        color: @pink;
    }
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 6px;
    border-color: transparent transparent transparent @greySocial;
    transition: .2s ease-out;
}
