//GLOBALS
body,
html {
    .copyTextSmall;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.page-template-template-companyblue {
        .copyText;
    }
}

a {
    text-decoration: none;
    color: @blueBright;

    &:hover {
        color: @pink;
    }
}


//FONTS
.fontLight {
    font-family: "canada-type-gibson",sans-serif;
    font-weight: 200;
}
.fontRegular {
    font-family: "canada-type-gibson",sans-serif;
    font-weight: 400;
}

// GENERAL TEXT STYLES
.sectionHeader {
    &:extend(.fontLight);
    font-size: 34px;
    color: @blueBright;
    line-height: 1.2;
    margin: 35px 0;
    text-align: center;

    @media screen and (max-width: @tabletWidth) {
        font-size: 30px;
    }
}
.subsectionHeader {
    &:extend(.fontLight);
    font-size: 31px;
    color: @black;
    line-height: 37px;
    text-align: center;
}
.h1, h1 {
    &:extend(.fontLight);
    font-size: 36px;
    color: @pink;
    line-height: 1.2;
}
.h2, h2 {
    &:extend(.fontRegular);
    font-size: 26px;
    color: @pink;
    line-height: 1.2;
}
.h3, h3 {
    &:extend(.fontLight);
    font-size: 27px;
    color: @pink;
    line-height: 1.2;
}
.h4, h4 {
    &:extend(.fontRegular);
    font-size: 26px;
    color: @black;
    line-height: 1.2;
}
.h5, h5 {
    &:extend(.fontLight);
    font-size: 26px;
    color: @black;
    line-height: 1.2;
}
.h6, h6 {
    &:extend(.fontRegular);
    color: @pink;
    font-size: 15px;
    line-height: 19px;
}

.copyText {
    &:extend(.fontLight);
    color: @blueDeep;
    font-size: 18px;
    line-height: 22px;
}
.copyTextMedium {
    &:extend(.fontLight);
    color: @blueDeep;
    font-size: 17px;
    line-height: 21px;
}
.copyTextSmall {
    &:extend(.fontLight);
    color: @blueDeep;
    font-size: 15px;
    line-height: 19px;
}

// SPECIALIZED TEXT STYLES
.heroText {
    &:extend(.fontLight);
    font-size: 37px;
    color: @white;
    line-height: 44px;
}
.tourNavText {
    &:extend(.fontLight);
    font-size: 25px;
    line-height: 30px;
    color: @blueBright;

}
.signInUpText {
    &:extend(.fontLight);
    font-size: 17px;
    line-height: 20px;
    color: @white;
    text-transform: uppercase;
}
.featureCircleH1 {
    &:extend(.fontLight);
    font-size: 20px;
    color: @pink;
    letter-spacing: 1.11px;
    line-height: 24px;
    margin-bottom: 22px;
}
.caseStudyText {
    &:extend(.fontRegular);
    font-size: 23px;
    color: @white;
    line-height: 28px;
}
.oldWayNewWayTH {
    &:extend(.fontLight);
    font-size: 24px;
    color: @pink;
    line-height: 29px;
}

.blueBoxTitle {
    &:extend(.fontRegular);
    font-size: 30px;
    color: @white;
    line-height: 52px;
    text-align: center;

    @media (min-width: @phoneWidth) {
        font-size: 43px;
    }
}
.blueBoxCopy {
    &:extend(.fontLight);
    font-size: 24px;
    line-height: 31px;
    color: @white;

    @media (min-width: @phoneWidth) {
        font-size: 43px;
        line-height: 52px;
    }
}

.galleriesPressTitle {
    &:extend(.fontLight);
    font-size: 30px;
    color: @black;
    line-height: 36px;
    margin-bottom: 50px;
}
.featureBlogDesc {
    &:extend(.fontLight);
    font-size: 13px;
    color: @blueBright;
    line-height: 22.79px;
}
.featureBlogTitle {
    &:extend(.fontLight);
    font-size: 17px;
    color: @greyText;
    line-height: 22.79px;
    text-transform: uppercase;
}
.teamName {
    &:extend(.fontRegular);
    color: @black;
    font-size: 19px;
}
.footerText {
    &:extend(.fontLight);
    font-size: 14px;
    color: @white;
    line-height: 25px;
}
.subfooterText {
    color: @blackish;
    font-size: 13px;
    line-height: 14px;
}




// DEVICES
.button {
    display: inline-block;
    padding: 25px 40px;
    &:extend(.fontRegular);
    border: 1px solid;
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;
    min-width: 265px;
    text-align: center;

    &.blue {
        @bgColor: @blueBright;
        color: @white;
        background-color: @bgColor;
        border-color: @bgColor;
        &:hover {
            background-color: fade(@bgColor,50);
        }
    }

    &.pink {
        @bgColor: @pink;
        color: @white;
        background-color: @bgColor;
        border-color: @bgColor;
        &:hover {
            background-color: fade(@bgColor,50);
        }
    }

    &.blue-overPic {
        @bgColor: @blueBright;
        color: @white;
        background-color: @bgColor;
        border-color: @bgColor;

        &:hover {
            background-color: @white;
            color: @bgColor;
        }
    }

    &.pink-overPic {
        @bgColor: @pink;
        color: @white;
        background-color: @bgColor;
        border-color: @bgColor;

        &:hover {
            background-color: @white;
            color: @bgColor;
        }
    }

    &.white-blue {
        @bgColor: @white;
        color: @blueBright;
        background-color: @bgColor;
        border-color: @blueBright;

        &:hover {
            background-color: fade(@blueBright,50);
            color: @white;
        }
    }

    &.small {
        &:extend(.fontLight);
        padding: 5px 15px;
        font-size: 14px;
        color: @white;
        background-color: transparent;
        border-color: @white;
        min-width: auto;

        &:hover {
            background-color: fade(@white,40);
            border-color: fade(@white,40);
            color: @white;
        }
    }

    @media screen and (max-width: @smallWidth) {
        min-width: initial;
    }
}

.chevron-divider {
    background-image: url(../../images/svg/ascribe-chevron.svg);
    background-position: bottom;
    width: 100%;
    background-size: 100%;
    height: 150px;

    @media screen and (max-width: @tabletWidth) {
        background-size: 120%;
    }
}

.social-icon {
    width: 21px;
    height: 21px;
    padding: 1px;
    fill: @white;
    background-color: @greySocial;
    border-radius: 5px;

    &:hover {
        background-color: fade(@greySocial,40);
    }
}

hr {
    border: 0;
    height: 2px;
    background: @greyHr;
    margin: 40px 0;
}

.blueGradient {
    background-color: @blueBright;
    background: linear-gradient(to bottom,  rgba(81,156,173,1) 0%,rgba(103,196,218,1) 100%); /* W3C */
}
