//
// Ascribe
// -----------------
// Variables
//

// COLORS
@blueDeep:             #121417;
@blueMedium:           #003C69;
@blueBright:           #67C4DA;
@blueLight:            #d7e9ef;
@pink:                 #D8127D;

@white:                #fff;
@greyBg:               #fbfbfb;
@greySocial:           #b8b8b8;
@greyHr:               #979797;
@greyFooter:           #8c8c8c;
@greyText:             #595959;
@blackish:             #1e1e1e;
@black:                #000;


//
// Typography
//
@font-size-base:      18px;
@font-size-small:     14px;
@font-size-mini:      11px;
@font-size-large:     24px;

@line-height-base:    24px;
@line-height-small:   18px;

@text-color:          @blueDeep;

@font-family-base:    "canada-type-gibson", sans-serif;
@font-weight-base:    200;
@font-weight-normal:  400;
@font-weight-bold:    @font-weight-normal;

@body-bg:             @white;


@link-color:          @blueBright;
@link-hover-color:    @pink;

//
// Spacing
//
@spacer:              40px;


//
// Responsive breakpoints
//
@screen-xs-min:       400px;
@screen-sm-min:       768px;
@screen-md-min:       900px;
@screen-lg-min:       1100px;

@screen-sm:           ~'min-width: @{screen-sm-min}';
@screen-md:           ~'min-width: @{screen-md-min}';
@screen-lg:           ~'min-width: @{screen-lg-min}';

// LEGACY
// mostly used in conjunction with max-width media queries
@smallWidth:          @screen-xs-min;
@middleWidth:         570px;
@phoneWidth:          600px;
@tabletWidth:         @screen-sm-min;


//
// Grid
//
@gutter-space:              (@spacer * 2);
