//
// Ascribe
// -----------------
// Variables
//

// COLORS
@blueDeep: #121417;
@blueMedium: #003C69;
@blueBright: #67C4DA;
@blueLight: #d7e9ef;
@pink: #D8127D;

@white: #fff;
@greyBg: #fbfbfb;
@greySocial: #b8b8b8;
@greyHr: #979797;
@greyFooter: #8c8c8c;
@greyText: #595959;
@blackish: #1e1e1e;
@black: #000;
